.header_left_intro {
  margin-top: 74px;
  color: #ffae00;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.header_left_introduce {
  margin-top: 18px;
  font-family: Pretendard;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}
.header_left_introduce_body_container {
  margin-top: 40px;
  margin-bottom: 40px;
}
.header_left_introduce_body {
  margin: none;
  color: #363636;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
}

/* 상단 메뉴 스타일 */
.topmenu-item {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: black;
  padding: 0.5rem 1rem;
  text-align: center;
}

/* 활성화된 상단 메뉴 하단 검정 언더바 */
.topmenu-item.active::after {
  content: "";
  position: absolute;
  bottom: -6px; /* 위치 조절 */
  left: 0;
  width: 100%;
  height: 4px;
  background-color: black;
}

/* 보라색 배경 */
.header-quiz-submenu-wrapper {
  background-color: #c8a9f0;
  padding: 12px 0;
}

/* 서브메뉴 텍스트 기본 스타일 */
.quiz-submenu-item {
  position: relative;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 500;
  color: black;
  text-align: center;
}

/* 활성화된 메뉴의 언더라인 */
.quiz-submenu-item.active::after {
  content: "";
  position: absolute;
  bottom: -10px; /* 보라색 영역 안에 위치하게 조절 */
  left: 0;
  width: 100%;
  height: 4px;
  background-color: black;
}

.header-bg-admin {
  background-color: #c0a1f1;
}

.header-avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border: 3px solid #d8b4fe;
  padding: 4px;
  background-color: white;
}
